@{
    ViewData["Title"] = "Create New Employee";
}
@model Employee
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-8">
            <h3>Create Employee</h3>
            <hr/>
            <form asp-controller="Employee" asp-action="Create" method="post">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span style="color:red" asp-validation-for="Name"></span><br />

                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span style="color:red" asp-validation-for="Email"></span><br />

                <label asp-for="Age"></label>
                <input asp-for="Age" class="form-control" />
                <span style="color:red" asp-validation-for="Age"></span>

                <label asp-for="Gender"></label>
                <select class="form-control" asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()">
                    <option value="">Select Gender</option>
                </select>
                <span style="color:Red" asp-validation-for="Gender"></span>

                <label asp-for="Address"></label>
                <input asp-for="Address" class="form-control" />
                <span style="color:Red" asp-validation-for="Address"></span>

                <label asp-for="password"></label>
                <input type="password" asp-for="password" class="form-control" />
                <span style="color:Red" asp-validation-for="password"></span>

                <label asp-for="confirmPassword"></label>
                <input type="password" asp-for="confirmPassword" class="form-control" />
                <span style="color:Red" asp-validation-for="confirmPassword"></span>


                <label asp-for="url"></label>
                <input asp-for="url" class="form-control" />
                <span style="color:Red" asp-validation-for="url"></span>

                <hr />
                <button type="submit" class="btn btn-success">Save</button>
            </form>
        </div>
    </div>
</div>